.skill {
  display: flex;
  flex-direction: column;

  .skill__type {
    display: flex;
    align-items: flex-start;
  }

  .skill__self {
    display: flex;
    align-items: center;
    border: 1.33px solid black;
    border-radius: 0.67rem;
    margin: 0.33rem;
    padding: 0.33rem;
    transition: box-shadow 0.1s;

    img {
      height: 1.33rem;
      margin-right: 0.33rem;
    }

    &:hover {
      cursor: default;
      box-shadow: 0px 0px 4px;
    }
  }
}

@media(orientation: portrait) {
  .skill {
    .skill__type {
      flex-direction: column;
    }
  }
}