html,
body {
  padding: 0;
  margin: auto;
  font-size: 16pt;
  font-family: sans-serif;
  max-width: 720px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}