@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
  padding: 0.33rem;
  margin: auto;
  font-size: 16pt;
  font-family: 'Open Sans', sans-serif;
  max-width: 720px;
}

* {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 0.33rem;
}

table td * {
  text-align: left;
  vertical-align: middle;
}